<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sirji Chat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use a meta tag to enforce Content Security Policy -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src-elem  'nonce-${nonce}'; script-src 'nonce-${nonce}';" />
    <link nonce="${nonce}" rel="stylesheet" type="text/css" href="${chatStyleUri}" />
  </head>
  <body>
    <div id="topRightControls">
      <div id="progressCircle">
        <svg id="progressRing" width="30" height="30">
          <circle id="outerBorder" stroke="#f1f1f1" stroke-width="1" fill="transparent" r="9" cx="15" cy="15"></circle>
          <circle id="progressRingCircle" stroke="#ADD8E6" stroke-width="2" fill="transparent" r="8" cx="15" cy="15"></circle>
          <circle id="innerBorder" stroke="#f1f1f1" stroke-width="1" fill="transparent" r="6" cx="15" cy="15"></circle>
        </svg>
        <div id="progressText">0 of 0</div>
      </div>
      <div id="openSettings">⚙️</div>
    </div>

    <div id="chatContainer">
      <div id="messageContainer"></div>
      <div id="inputContainer">
        <textarea id="userInput" placeholder="Type a message..."></textarea>
        <button id="sendBtn">Send</button>
      </div>
    </div>

    <div id="plannerModal" class="modal">
      <div class="modal-content">
        <span id="closePlanner">&times;</span>
        <h2>Planner aaaa</h2>
        <ul id="plannerStepsList"></ul>
      </div>
    </div>

    <div id="settingsModal" class="modal">
      <div class="modal-content">
        <span id="closeSettings">&times;</span>
        <h2>Environment Variables Configuration</h2>
        <div class="input-wrapper">
          <label for="SIRJI_OPENAI_API_KEY">OpenAI API Key</label>
          <input type="text" id="SIRJI_OPENAI_API_KEY" placeholder="Enter the OpenAI api key" />
          <span class="error-message" id="SIRJI_OPENAI_API_KEY_ERROR"></span>
        </div>
        <div class="input-wrapper">
          <label for="SIRJI_GOOGLE_SEARCH_ENGINE_ID">Google Search Engine ID</label>
          <input type="text" id="SIRJI_GOOGLE_SEARCH_ENGINE_ID" placeholder="Enter the Google Search Engine ID" />
          <span class="error-message" id="SIRJI_GOOGLE_SEARCH_ENGINE_ID_ERROR"></span>
        </div>
        <div class="input-wrapper">
          <label for="SIRJI_GOOGLE_SEARCH_ENGINE_API_KEY">Google Search Engine API Key</label>
          <input type="text" id="SIRJI_GOOGLE_SEARCH_ENGINE_API_KEY" placeholder="Enter the Google Search Engine API Key" />
          <span class="error-message" id="SIRJI_GOOGLE_SEARCH_ENGINE_API_KEY_ERROR"></span>
        </div>

        <div class="input-wrapper">
          <span class="error-message" id="save_settings_error"></span>
        </div>
        <button id="saveSettings">Save</button>
      </div>
    </div>
    <script type="module" nonce="${nonce}" src="${chatScriptUri}"></script>
  </body>
</html>
