body[data-vscode-theme-kind='vscode-dark'] {

  .icon svg > path {
    fill: white;
  }
}

body[data-vscode-theme-kind='vscode-light'] {

  .icon svg > path {
    fill: black;
  }
}

body[data-vscode-theme-kind='vscode-dark'] {

  .boticon svg>path {
    fill: white;
  }
}

body[data-vscode-theme-kind='vscode-light'] {

  .boticon svg>path {
    fill: white;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 102px);
  /* margin-top: 45px; */
}

#messageContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  /* flex-grow: 1; */
}

.user-message:last-child,
.bot-message:last-child {
  margin-bottom: 20px;
}

/* Adjusted message styles for flexible width  */
/* .user {
  min-width: 100px;
  max-width: 80%;
  padding: 7px 10px;
  border-radius: 6px;
  color: white;
} */

.user {
  background-color: #4caf50;
  align-self: flex-end;
  margin-right: auto;
  flex: 1;
  padding: 7px 10px;
  border-radius: 6px;
  color: white;
}

.user-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: end;
  width: fit-content;
  max-width: 80%;
  margin-bottom: 10px;
  gap: 4px;
}

.user-text-inactive{
  align-self: flex-end;
  margin-left: auto;
  min-width: 100px;
  max-width: 80%;
  padding: 7px 10px;
  border-radius: 6px;
  color: currentcolor;
  opacity: 0.9;
}

.bot {
  background-color: #666;
  align-self: center;
  margin-right: auto;
  flex: 1;
  padding: 7px 10px;
  border-radius: 6px;
  color: white;
}

.bot-message {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  max-width: 80%;
  margin-bottom: 10px;
  gap: 4px;
}

.message-loader{
  display: flex;
  align-items: center;
  height: 100%;
}

/* Input container fixed at the bottom */
.fixed-bottom{
  position: sticky;
  bottom: 0;
  left: 0;
}

#inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  background: #f1f1f1;
  /* width: 100%; */
  box-sizing: border-box;
}

textarea {
  flex-grow: 1;
  min-height: 34px;
  margin-right: 10px;
  padding: 10px 10px 0px 10px;
  border: none;
  border-radius: 5px;
  overflow-y: hidden;
  resize: none;
  font-size: 13px;
}

#sendBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  /* background-color: #302f2f; */
  background-color: var(--vscode-statusBarItem-remoteBackground);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#sendBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* #sendBtn:hover {
  background-color: #444;
  transform: scale(1.05);
} */

/** Top Controls **/
.fixedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: fixed;
  height: 46px;
  top: 0px;
  padding: 0px 10px;
  z-index: 1;
  /* background-color: #1e1e1e; */
  background-color: var(--vscode-editor-background);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding: 0px 10px;
  background-color: var(--vscode-editor-background);
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.progressContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

#openSettings {
  display: flex;
  cursor: pointer;
  font-size: 24px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

#progressCircle {
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  gap: 5px;
}

#progressCircle:hover {
  cursor: pointer;
}

#progressRingCircle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#progressText {
  font-size: 13px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  padding: 1px 2px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out; /* Add transition for background-color */
}

/** Setting Modal **/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); 
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-body {
  position: relative;
  background-color: white;
  border: 1px solid white;
  border-radius: 9px;
  max-height: calc(
    100% - 120px
  ); 
  overflow: hidden; 
  display: flex;
  flex-direction: column;

  background-color: #1e1e1e;
}

.modal-header {
  padding: 20px 40px 0 40px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.modal-content {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 0 40px 20px 40px;
}

.settings-modal-container {
  display: flex;
  flex-direction: column;
  width: 720px;
}

.planner-modal-container {
  width: 720px;
}

.modal-heading {
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 13.8px;
  color: #ffffff;

  margin-bottom: 5px;
  margin-top: 15px;
}

.modal-subheading {
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  line-height: 11.5px;
  color: #ffffff;

  margin-bottom: 10px;
}

#closeSettings {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  position: absolute;
  top: 12px;
  right: 12px;
}

#closeSettings:hover,
#closeSettings:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/** Planner Modal **/
#closePlanner {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  position: absolute;
  top: 12px;
  right: 12px;
}

#closePlanner:hover,
#closePlanner:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#plannerStepsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.stepItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 10px 0;
  border-radius: 5px;

  font-size: 12px;
  font-weight: 700;
  line-height: 13.8px;
  font-family: Arial;
  color: #9d9d9d;
}

.stepItem label {
  margin: 0;
  flex-grow: 1;
  color: inherit;
}


.checkbox {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 20px;
  height: 20px;
  border: 2px solid #666666; 
  border-radius: 50%; 
  cursor: pointer;
  outline: none;
  position: relative;
}

.checkbox:checked {
  background-color: #4caf50; 
  border: 2px solid #4caf50;
}

/* Hide the default checkbox and add a custom tick mark using the ::after pseudo-element */
.checkbox:checked::after {
  content: "✔"; 
  font-size: 12px; 
  color: white; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

/* Style the label for better usability */
label {
  margin-left: 10px; 
  cursor: pointer; 
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  animation: spin 1s linear infinite;
}

.loader-wrapper{
  width: 20px;
  height: 20px;
  margin: 3px 3px 3px 4px;
  min-width: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tokens-container {
  display: flex;  
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5px;
  cursor: pointer;
  z-index: 1;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(217, 217, 217, 1);
  color: black;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 38%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;
  top: 25px;
  bottom: 0;
  height: fit-content;
  /* visibility: visible;
  opacity: 1; */
}

.tooltip-text {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  color: rgba(32, 32, 33, 1);
  background-color: rgba(217, 217, 217, 1);
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px; /* Changed border-width values */
  border-color: transparent transparent rgba(217, 217, 217, 1) transparent;
  position: absolute;
  top: -5px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
}

.tokens-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
  
.tokens-container:hover .text {
  color: var(--vscode-list-hoverForeground);
}

.tokens {
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 12.1px;
}

.settings-modal-heading {
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.4px;
  text-align: left;
  margin-top: 20px;
  color: white;
}

.save-settings-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: white;
  border: 1px solid #2382d7;
  background-color: #0079d5;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 13.8px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.input-wrapper {
  margin-bottom: 25px;
  width: 400px;
  margin-top: 20px;
}

.input-wrapper label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: white;

  margin-left: 0px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  text-align: left;
}

.input-wrapper input[type="text"] {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #454545;
  border-radius: 5px;
  font-size: 13px;
  box-sizing: border-box;
  outline: none;
  background-color: #242424;
  color: white;
}

.input-wrapper input[type="text"]:hover {
  border-color: #888;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.tab-button {
  color: var(--vscode-titleBar-inactiveForeground);
  cursor: pointer;
  padding: 5px 3px;
}

.tab-button:hover {
  color: var(--vscode-titleBar-activeForeground);
}

.tab-button.active {
  color: var(--vscode-titleBar-activeForeground);
  border-bottom: 1px solid var(--vscode-statusBarItem-remoteBackground);
}

.chat-tab-button{
  color: var(--vscode-titleBar-activeForeground);
  padding: 5px 3px;
  border-bottom: 1px solid var(--vscode-statusBarItem-remoteBackground);
}

.chat-tab-button:hover {
  color: var(--vscode-list-hoverForeground);
}

.tooltip-body{
  padding-top: 3px;
  padding-bottom: 3px;
}

.hr{
  margin: 7px 0;
  border-bottom: 1px solid grey;
}

.p-10{
  padding: 10px;
}

.text-inactive{
  color: #9d9d9d;
}

.toolbar-icon{
  svg > path {
    fill: var(--vscode-titleBar-inactiveForeground)
  }
}

.toolbar-icon:hover {
  svg > path {
    fill: var(--vscode-titleBar-activeForeground);
  }
}

#dots #dot1{
  animation: load 1s infinite;
}

#dots #dot2{
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#dots #dot3{
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.column-view {
  display: grid;
  grid-gap:0px;
  grid-template-columns:60vw 40vw;
  grid-template-areas:"left right";
  height:100vh;
}

/*  tabs-container-css */
.tabs-container {
  min-width: 40%;
  max-width: 75%;
  width: 40%;
  height: 100vh;
  overflow-y: auto; 
  grid-area:right;
  background: black;
  color: white;
  position: absolute;
  right:0;
  min-height:100%;
  padding-left: 5px;
  background-color: var(--vscode-sideBar-background);
}

/* chat-termianl-css */
.chat-termianl-container {
  min-width: 25%;
  width: 60%;
  height: 100vh;
  max-width: 60%;
  grid-area:left;
  position: absolute;
  min-height:100%;
}

.resize-handle {
  width: 5px;
  left: 0px;
  height: 100%;
  background: var(--vscode-sideBarSectionHeader-border);
  border-left: 3px solid var(--vscode-sideBarSectionHeader-border);
  vertical-align: top;
  position: absolute;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.resize-handle:hover {
  background: var(--vscode-sideBarSectionHeader-border);
  cursor: col-resize;
}

.nested-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding: 0px 10px;
  background-color: transparent;
  border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
  box-sizing: border-box;

  position: relative;
}

.nested-tabs-container{
  min-width: 25%;
  height: clac(100vh - 92px);
  overflow-y: auto; 
  position: relative; 
  margin-left: 1px;
}

.log-tab {
  display: none;
  height: calc(100vh - 112px);
  overflow: hidden;
  padding-left: 10px;
  margin-top: 5px;
}

.log-tab.active {
  display: block;
}

.log-tab-button {
  color: var(--vscode-titleBar-inactiveForeground);
  cursor: pointer;
  padding: 5px 3px;
}

.log-tab-button:hover {
  color: var(--vscode-titleBar-activeForeground);
}

.log-tab-button.active {
  color: var(--vscode-titleBar-activeForeground);
  border-bottom: 1px solid var(--vscode-statusBarItem-remoteBackground);
}

.panel-view{
  overflow-y: auto;
  height: calc(100vh - 112px);
}

.steps-panel-view{
  overflow-y: auto;
  height: calc(100vh - 46px);
  margin-top:5px;
}

.text {
  color: #9d9d9d;
  cursor: pointer;
  padding: 5px 3px;
}

.text:hover {
  color: var(--vscode-list-hoverForeground);
}

.text.active {
  color: var(--vscode-list-hoverForeground);
  border-bottom: 1px solid var(--vscode-statusBarItem-remoteBackground);
}

.pl-10{
  padding-left: 10px;
}


.tab-buttons-container {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  padding: 10px 0;
}

.tab-buttons-container::-webkit-scrollbar {
  display: none; 
}

.tab-buttons {
  display: inline-flex;
  align-items: center;
  gap: 10px; 
}

.arrow-svg {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  backdrop-filter: blur(2px);
  width: 50px;
  height: 45px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

*,*:before,*:after  {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.backdrop {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}

.modal-container {
  display: none;
  width: 350px;
  background-color: var(--vscode-sideBar-background);
  margin: 50px 15px auto auto;
}

.tokens-modal {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--vscode-titleBar-activeForeground);
}

.tokens-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--vscode-titleBar-activeForeground);
}

.tokens-modal-body {
  width: -webkit-fill-available;
  padding: 24px 24px 0px 24px;
  color: var(--vscode-titleBar-activeForeground);
}

.tokens-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.tokens-table-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  color: var(--vscode-titleBar-activeForeground);
  gap: 32px;
}

.tokens-table-footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  gap: 32px;
}

.flex-shrink{
  flex-shrink: 0;
}

.close-button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}