body[data-vscode-theme-kind='vscode-dark'] {

  .icon svg > path {
    fill: white;
  }
}

body[data-vscode-theme-kind='vscode-light'] {

  .icon svg > path {
    fill: black;
  }
}

body[data-vscode-theme-kind='vscode-dark'] {

  .boticon svg>path {
    fill: white;
  }
}

body[data-vscode-theme-kind='vscode-light'] {

  .boticon svg>path {
    fill: white;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 30px;
}

#messageContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

.bot-message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 10px;
}

.user-message {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 10px;
}

.user-message:last-child,
.bot-message:last-child {
  margin-bottom: 70px;
}

/* Adjusted message styles for flexible width  */
.user,
.bot {
  min-width: 100px;
  max-width: 80%;
  padding: 7px 10px;
  border-radius: 6px;
  color: white;
}

.user {
  background-color: #4caf50;
  align-self: flex-end;
  margin-left: auto;
}

.bot {
  background-color: #666;
  align-self: flex-start;
  margin-right: auto;
}

/* Input container fixed at the bottom */
#inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  background: #f1f1f1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px 10px 0px 10px;
  border: none;
  border-radius: 5px;
  overflow-y: hidden;
  resize: none;
  font-size: 13px;
}

#sendBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #302f2f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#sendBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* #sendBtn:hover {
  background-color: #444;
  transform: scale(1.05);
} */

/** Top Controls **/
.fixedHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: fixed;
  width: -webkit-fill-available;
  top: 0px;
}

body[data-vscode-theme-kind='vscode-dark'] {
  .fixedHeader{
    background-color: black;
  }
}

body[data-vscode-theme-kind='vscode-light'] {
  .fixedHeader{
    background-color: white;
  }  
}

.progressContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

#openSettings {
  display: flex;
  cursor: pointer;
  font-size: 24px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#progressCircle {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
  width: 90px;
  height: 30px;
  gap: 3px;
}

#progressCircle:hover {
  cursor: pointer;
}

#progressRingCircle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#progressText {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 2px 4px;
  color: #000;
  border: 1px solid blue;
}

/** Setting Modal **/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f1f1f1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content h2 {
  color: #666;
}

#closeSettings {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#closeSettings:hover,
#closeSettings:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#saveSettings {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #302f2f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#saveSettings:hover {
  background-color: #444;
  transform: scale(1.05);
}

.input-wrapper {
  margin-bottom: 15px;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

.input-wrapper input[type='text'] {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.input-wrapper input[type='text']:hover {
  border-color: #888;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/** Planner Modal **/
#closePlanner {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#closePlanner:hover,
#closePlanner:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#plannerStepsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stepItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 5px 0;
  padding: 10px;
  background-color: #e3f2fd;
  color: #0d47a1;
  border-radius: 5px;
  font-weight: bold;
}

.stepItem label {
  margin: 0;
  flex-grow: 1;
  color: inherit;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  min-width: 20px;
}

.checkbox:checked {
  background-color: #4caf50;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}