name: Run PyTest on PR to Main Branch

on:
  pull_request:
    branches:
      - main
    paths:
      - 'messages/**'
      - 'tools/**'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12.0, 3.11.0]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies (messages)
        run: |
          cd messages
          python -m venv venv
          source venv/bin/activate
          pip install -e .
          pip install pytest coverage

      - name: Install dependencies (tools)
        run: |
          cd tools
          python -m venv venv
          source venv/bin/activate
          pip install -e .
          pip install pytest coverage playwright
          playwright install

      - name: Run tests and coverage (messages)
        run: |
          cd messages
          source venv/bin/activate
          pytest
          coverage run --omit="tests/*" -m pytest
          coverage report

      - name: Run tests and coverage (tools)
        env:
          SIRJI_WORKSPACE: '.'
          SIRJI_RUN_ID: 'abcd1234'
        run: |
          cd tools
          source venv/bin/activate
          pytest
          coverage run --omit="tests/*" -m pytest
          coverage report
